
body
{
    display: grid;
    place-items: center;
    background-color: rgb(59, 59, 59);
    color: white;
}
canvas
{
    background-color: black;
}
p
{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
h4
{
    color: #7FFF00;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}